.custom-file-input {
    position: relative;
    overflow: hidden;
    display: inline-block;
}

.custom-file-input input[type="file"] {
    position: absolute;
    font-size: 100px;
    opacity: 0;
    right: 0;
    top: 0;
}

.custom-file-input label {
    display: inline-block;
    font-family: Ubuntu, sans-serif;
    font-weight: 700;
    background: #007bff;
    color: #fff;
    border-radius: 10px;
    padding: 15px 30px;
    cursor: pointer;
}

.content-page-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
